html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #000;
  color: #fff;
  font-family: "Aldrich", sans-serif;
}

#settings {
  position: absolute;
  bottom: 15vh;
  left: 21vw;
  cursor: pointer;
}

#controls {
  position: absolute;
  bottom: 15vh;
  right: 21vw;
  cursor: pointer;
}

#content {
  display: flex;
  height: 72vh;
}

#top-ad,
#content,
#bottom-ad {
  width: 100vw;
}

#top-ad,
#bottom-ad {
  height: 14vh;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

#left,
#right {
  width: 20vw;
}

#middle {
  width: 60vw;
}

.clock {
  height: 58vh;
  font-size: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock.stopped {
  color: #ffb;
}

.clock>.high {
  height: 100%;
  width: 40%;
  text-align: right;
}

.clock>.separator {
  height: 100%;
  width: 10%;
  text-align: center;
  font-size: 30vh;
}

.clock>.low {
  height: 100%;
  width: 50%;
  text-align: left;
}

.clock.seconds>.high {
  width: 55%;
}

.clock.seconds>.low {
  width: 35%;
}

.period {
  height: 14vh;
  font-size: 8vh;
}

.name {
  height: 14vh;
  font-size: 6vh;
}

.score {
  height: 40vh;
  font-size: 36vh;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.timeouts {
  height: 14vh;
  font-size: 8vh;
  user-select: none;
  cursor: pointer;
}

#left {
  background: #f12;
  color: #fff;
}

#right {
  background: #21f;
  color: #fff;
}

.settings-form {
  display: none;
  position: absolute;
  left: 0;
  height: 97.5vh;
  padding: 10px;
  background: inherit;
  color: inherit;
  top: 0;
  border-right: solid thin white;
}

.controls-form {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50vw;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: inherit;
  color: inherit;
  border: solid thin white;
}

.controls-form > div {
  height: 200px;
}

.controls-form button.close {
  position: absolute;
  right: 2px;
  top: 2px;
}
