<style>
  .header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 90px;
    background-color: white;
    z-index: 10;
  }
</style>
<div class="header">
  <a class="title" href="index.html">
    <img src="img/chad-logo-square-2.png" /> CHADMINTON
  </a>
  <div class="menu">
    <a href="events.html">events</a>
    <!-- <a href="people.html">people</a> -->
    <!-- <a href="teams.html">teams</a> -->
    <a href="rules.html">rules</a>
    <a href="pictures.html">pictures</a>
    <a href="about.html">about</a>
    <a
      href="https://www.bonfire.com/store/chadminton/"
      target="_blank"
      noopener
      noreferrer
      >store</a
    >
  </div>